div(role='tabpanel')
// Nav tabs
ul.nav.nav-tabs(role='tablist')
    li.active(role='presentation')
        a#chatts(href='#chatts', aria-controls='home', role='tab', data-toggle='tab')
            h1
                span.glyphicon.glyphicon-envelope(aria-hidden='true')
    |     
    li(role='presentation')
        a#friendLists(href='#friendList', aria-controls='friendList', role='tab', data-toggle='tab')
            h1
                span.glyphicon.glyphicon-user(aria-hidden='true')
    |     
    li(role='presentation')
        a#message(href='#messages', aria-controls='messages', role='tab', data-toggle='tab')
            h1
                span.glyphicon.glyphicon-bell(aria-hidden='true')
    |     
    li(role='presentation')
        a#addFriends(href='#addFriend', aria-controls='addFriend', role='tab', data-toggle='tab')
            h1
                span.glyphicon.glyphicon-search(aria-hidden='true')
    // Tab panes
.tab-content
    #home.tab-pane.active(role='tabpanel') 
    |     
    #friendList.tab-pane(role='tabpanel') 
    |     
    #messages.tab-pane(role='tabpanel') 
    |     
    #addFriend.tab-pane(role='tabpanel') 
        form.form-inline(style='margin-top: 20px;' action='ajax/findUser' method='post')
            .form-group
                label.sr-only(for='exampleInputAmount') Amount (in dollars)
                |     
                .input-group
                    .input-group-addon ID
                    |       
                    input#exampleInputAmount.form-control(type='text', placeholder='User ID')
                    
            |   
            button.btn.btn-primary(type='submit')
                span.glyphicon.glyphicon-search(aria-hidden='true')

