div(role='tabpanel')
// Nav tabs
ul.nav.nav-tabs(role='tablist')
    li.active(role='presentation')
        a#chatts(href='#home', aria-controls='home', role='tab', data-toggle='tab')
            h1
                span.glyphicon.glyphicon-envelope(aria-hidden='true')
    |     
    li(role='presentation')
        a#friendLists(href='#friendList', aria-controls='friendList', role='tab', data-toggle='tab')
            h1
                span.glyphicon.glyphicon-user(aria-hidden='true')
                    span#friendAcceptCount(style='color:red;')
    |     
    li(role='presentation')
        a#message(href='#messages', aria-controls='messages', role='tab', data-toggle='tab')
            h1
                span.glyphicon.glyphicon-bell(aria-hidden='true')
                    span#friendRequestCount(style='color:red;')
    |     
    li(role='presentation')
        a#addFriends(href='#addFriend', aria-controls='addFriend', role='tab', data-toggle='tab')
            h1
                span.glyphicon.glyphicon-search(aria-hidden='true')
    // Tab panes
.tab-content
    include chattingRoomList
    |     
    include friendList 
    |     
    include messages
    |     
    include addFriendTab
                

