doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
    
    // 합쳐지고 최소화된 최신 CSS
    link(rel='stylesheet', href='bootstrap/css/bootstrap.min.css')
    // 부가적인 테마
    link(rel='stylesheet', href='bootstrap/css/bootstrap-theme.min.css')
    // 합쳐지고 최소화된 최신 자바스크립트
    script(src='bootstrap/js/bootstrap.min.js')
    //제이쿼리
    script(src='js/jquery-3.1.0.min.js')
    //소켓 io
    script(src='../socket.io/socket.io.js')
    
    link(rel='stylesheet', href='stylesheets/login.css')
    
    link(rel='stylesheet', href='/stylesheets/style.css')
    //클릭 이벤트들 제어하는 파일
    script(src='./js/clickevent.js')
      
  body
    include header
    block content
    include footer
