doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
    
    // 합쳐지고 최소화된 최신 CSS
    link(rel='stylesheet', href='bootstrap/css/bootstrap.min.css')
    // 부가적인 테마
    link(rel='stylesheet', href='bootstrap/css/bootstrap-theme.min.css')
    // 합쳐지고 최소화된 최신 자바스크립트
    script(src='bootstrap/js/bootstrap.min.js')
    
    //소켓 io
    script(src='../socket.io/socket.io.js')
    
    link(rel='stylesheet', href='stylesheets/login.css')
    
    link(rel='stylesheet', href='/stylesheets/style.css')
    //처음에 데이터들을 읽어오는 파일
    script(src='./js/readsData.js')
    //클릭 이벤트들 제어하는 파일
    script(src='./js/clickevent.js')
    //io이벤트 제어 파일
    script(src='./js/ioEvent.js')
    //윈도우 창이 닫히기 전에 실행되는 메소드. ioEvent에서 소켓해제
  body(onbeforeunload="closeIt()") 
    include header
    block content
    include chattingModal
    include createRoomModal
